@media (max-width: 576px){
	
.col-xs-1{
	flex:0 0 auto;
	width:8.33%;
}
.col-xs-2{
	flex:0 0 auto;
	width:16.66%;
}	
.col-xs-3{
	flex:0 0 auto;
	width:25%;
}	
.col-xs-4{
	flex:0 0 auto;
	width:33.33%;
}	
	.col-xs-5{
	flex:0 0 auto;	
	width:41.66%;
}	
	.col-xs-6{
    flex:0 0 auto;
	width:50%;
}	
	.col-xs-7{
		flex:0 0 auto;
	width:58.33%;
}	
	.col-xs-8{
		flex:0 0 auto;
	width:66.66%;
}	
	.col-xs-9{
		flex:0 0 auto;
	width:75%;
}	
	.col-xs-10{
		flex:0 0 auto;
	width:83.33%;
}	
	.col-xs-11{
		flex:0 0 auto;
	width:91.66%;
}	
	.col-xs-12{
	flex:0 0 auto;
	width:100%;
}
  .d-xs-none{
	  display:none !important;
  }
 /*------- contact res ------------*/  
  .contactinfo{
    padding: 10px 20px;
  }
  .contactinfo span{
	  font-size:11px;
  }
   /*------- banner res ------------*/  
  .bannercontent  h1{
	  font-size:28px;
  }
  
   .bannercontent  p{
	  font-size:18px;
  }
   /*------- chooseitem res ------------*/  
  .chooseitem{
	  margin:30px 0 0;
	  height:0 auto;
  }
   /*-------- about res ------------*/  
  .abt-content{
    padding-top:30px;
	padding-left:0;
  }
  .abt-img{
	  height:400px;
  }
   /*------- clientlogo res ------------*/  
   .client-logo{
	  padding:10px 0;
  }
   /*------- termianl res ------------*/  
  .terminalitem .img img{
	width:30%;
}
  .terminalitem p{
	 padding:0 0;
	 font-size:16px;
}
  
  /*------- buyitem res ------------*/  
 
  .buyitem{
	  margin-bottom:30px;
  }

   /*------- faq res ------------*/  
   .faqcontentitem {
    margin: 20px 10px;
    padding: 20px;
}
   /*------- contact res ------------*/   
   .contactfull {
    padding: 20px 0px;
}
   .contactitem{
	   margin-top:20px;
   }
    /*------- footer res ------------*/  
  .authorcontent{
	      text-align: center;
    margin-bottom: 30px;
  }
  .fontcontent{
	  text-align: center;
}
  }
  
  
	
}
@media(min-width:576px){
	.container{
		width:550px;
	}
}
@media(min-width:768px){
	.container{
		width:720px;
	}
}
@media(min-width:992px){
	.container{
		width:960px;
	}
}
@media(min-width:1200px){
	.container{
		width:1170px;
	}
	.col-lg-1{
	width:8.33%;
}
.col-lg-2{
	width:16.66%;
}	
.col-lg-3{
	width:25%;
}	
.col-lg-4{
	width:33.33%;
}	
	.col-lg-5{
	width:41.66%;
}	
	.col-lg-6{
	width:50%;
}	
	.col-lg-7{
	width:58.33%;
}	
	.col-lg-8{
	width:66.66%;
}	
	.col-lg-9{
	width:75%;
}	
	.col-lg-10{
	width:83.33%;
}	
	.col-lg-11{
	width:91.66%;
}	
	.col-lg-12{
	width:100%;
}	

}